

<!-- The tables page, refer to static/js/controller -->
<div>

   <span class="page-header">
    <!-- Display images title and the JSON link -->
    <h1 class="page-header-left"> {{tbname}}'s {{'cloumes info' |translate}}, disk usages size : {{size}} </h1>

    <!-- Display search form in the right -->
    <div class="page-header-right">
      <input type="text" class="form-control" placeholder="{{'search'|translate}}" ng-model="search" autofocus>
    </div>
  </span> <!-- End of page header -->

  <!-- Todo: No need to use <br/> -->
  <br/><br/><br/><br/>

  <!-- Alert if we get nothing from server -->
  <div ng-show="!table.length" class="alert alert-danger" role="alert">{{'no_table'|translate}}</div>

  <!-- Display all table columns information -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><a href="" ng-click="predicate='id'; reverse=!reverse">{{'Id'|translate}}</a></th>
        <th><a href="" ng-click="predicate='Field'; reverse=!reverse">{{'Field'|translate}}</a></th>
        <th><a href="" ng-click="predicate='Type'; reverse=!reverse">{{'Type '|translate}}</a></th>
        <th><a href="" ng-click="predicate='Null'; reverse=!reverse">{{'isNull'|translate}}</a></th>
        <th><a href="" ng-click="predicate='Key'; reverse=!reverse">{{'Key'|translate}}</a></th>
        <th><a href="" ng-click="predicate='Default'; reverse=!reverse">{{'Default'|translate}}</a></th>		
        <th><a href="" ng-click="predicate='Comment'; reverse=!reverse">{{'Comment'|translate}}</a></th>		
      </tr>
    </thead>

    <tbody>
      <!-- When search result is null, display the message -->
      <tr ng-show="(clos | filter: search).length == 0">
        <td colspan="10" align="center">{{'no_search_result_for'|translate}} <b style="color:blue">{{search}}</b></td>
      </tr>

      <tr ng-repeat="col in table | filter: search | orderBy:predicate:reverse track by $index ">
	       	<td>{{col.id}}</td>
			<td>{{col.name.L}}</td>
	        <td>{{cType(col.type.Tp)}}({{col.type.Flen}})</td>
	        <td>{{col.dependences}}</td>
	        <td>{{col.type.Flag}}</td>
	        <td>{{col.default}}</td>
			<td>{{col.comment}}</td>
	  </tr>
	
    </tbody>
  </table>
  <!-- Todo: No need to use <br/> to move content below the navigation bar -->
  <br/><br/>
 
  <h1 class="page-header-left"> {{tbname}}'s {{'region info' |translate}} </h1>
 
  <!-- Display all table regions information -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><a href="" ng-click="predicate='region_id'; reverse=!reverse">{{'region_id'|translate}}</a></th>
        <th><a href="" ng-click="predicate='leader_store'; reverse=!reverse">{{'leader_store'|translate}}</a></th>
        <th><a href="" ng-click="predicate='conf_ver'; reverse=!reverse">{{'conf_ver'|translate}}</a></th>		
        <th><a href="" ng-click="predicate='version'; reverse=!reverse">{{'version'|translate}}</a></th>	
        <th><a href="" ng-click="predicate='peer_store'; reverse=!reverse">{{'peer_store '|translate}}</a></th>
      </tr>
    </thead>

    <tbody ng-repeat="info in regions ">
	      <tr ng-repeat="peer in info.peers track by $index ">
		    <td ng-if="$index ==0" rowspan={{info.peers.length}}>{{info.region_id}}</td>
			<td ng-if="$index ==0" rowspan={{info.peers.length}}>{{info.leader.store_id}}</td>
			<td ng-if="$index ==0" rowspan={{info.peers.length}}>{{info.region_epoch.conf_ver}}</td>
			<td ng-if="$index ==0" rowspan={{info.peers.length}}>{{info.region_epoch.version}}</td>
		    <td>
                <span ng-bind="peer.store_id"></span>
            </td>
	     </tr>
	
    </tbody>
  </table>

</div> <!-- End of this angular page -->

